<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-2 mt-3"></div>
                <div class="col-lg-8 mt-3">
                    <h1>Seja Bem vindo ao Projeto Fitness Partner</h5>
                        <h5>Seu Gerenciador pessoal de treinos</h5>
                        <span>O fitness Partner permite que treinadores criem e distribuam treinos personalizados a
                            varios alunos , permitindo alteraçoes rapidas e pontuais nos treinos e facilitando a
                            visualizaçao dos treinos e exercicios aos seus alunos.
                        </span><br>
                        <div class="d-grid gap-2 col-6 mt-5 mx-auto">
                            <H5>Já possui uma conta </H5>
                            <span>Deseja visualziar seu treino ou ditar o treino de algum lado utilize o botao abaixo
                                para fazer Login</span>
                            <a href='/login' class="btn btn-outline-dark" type="button">Realizar Login</a>
                        </div>
                        <div class="d-grid gap-2 col-6 mt-5 mx-auto">
                            <H5>Nao Possui uma conta </H5>
                            <span>Se voce ainda nao possui uma conta faça um registro agora mesmo para ter acesso a
                                treinos personalizados</span>
                            <a href='/register' class="btn btn-outline-dark" type="button">Registrar</a>
                        </div>
                </div>
                <div class="col-lg-2 mt-3"></div>
            </div>
        </div>

        <%- include('includes/footer') %>