<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-2 mt-3"></div>
                <div class="col-lg-8 mt-3">
                    <h1>Seja Bem vindo ao Projeto Fitness Partner</h5>
                    <h5>Seu Gerenciador pessoal de treinos</h5>
                    <span>O fitness Partner permite que treinadores criem e distribuam treinos personalizados a varios alunos , permitindo alteraçoes rapidas e pontuais nos treinos e facilitando a visualizaçao dos treinos e exercicios aos seus alunos.                
                    </span><br>
                </div>
            </div>
            <div class="col-lg-2 mt-3"></div>
        </div>
        </div>

        <%- include('includes/footer') %>