<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-2 mt-3"></div>
                <div class="col-lg-8 mt-3">
                    <h1>Titulo de conteudo</h5>
                    <h5>Breve descriçao e introduçao</h5>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate autem blanditiis omnis rerum eum vitae temporibus, molestias debitis sunt fuga eaque nihil mollitia ipsam nulla doloribus distinctio in eius error.</span><br>
                </div>
            </div>
            <div class="col-lg-2 mt-3"></div>
        </div>
        </div>

        <%- include('includes/footer') %>