<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-2 mt-3"></div>


        <div class="col-lg-8 mt-3">
          <h1 class="text-center">Login</h1>
          <p class="text-center lead">Realizar login</p>
          <form action="/login/login" method="post">
            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input name="email" type="email" class="form-control" id="email">
              <div class="mb-3">
                <label for="Password" class="form-label">senha</label>
                <input name="password" type="password" class="form-control" id="Password">
              </div>
              <div class="mb-3 form-check">
                <input name="remember" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Salvar Usuario</label>
              </div class='mx-auto'>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-lg-2 mt-3"></div>
    </div>
    </div>

    <%- include('includes/footer') %>